.dashboard-container {
  padding: 20px;
  min-height: 100vh;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.error {
  color: red;
  text-align: center;
}

.dashboard-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-count-container, .lottery-summary-container, .winner-list-container {
  background: #f9f9f9;
  padding: 20px;
  
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
}

.user-count-container ul li{
  list-style: none;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2px;
  width: 90%;
  border-bottom: 1px solid #d7d7d7;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  border-left: 3px solid #beeba4;
}

.user-count-container h4, h2{
  color: rgb(48, 48, 48);
}

.winner-list-container:last-child{
  margin-bottom: 60px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background: #f1f1f1;
}

.winner-highlight {
  background: #a3e57c;
  font-weight: bold;
  border-radius: 2px !important;
  display:  revert;
  
}
.winner-highlight span{
  float: right !important;
}

.winner-highlight2 {
  background: rgb(82, 163, 12);
  font-weight: bold;
  color: #ebe9e9;
  border-radius: 2px !important;
  font-size: 1.4rem;
  
}

.winner-highlight2 span {
  float: right;
}
