.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}
.logo-image {
  height: 60px; /* Ajuste o tamanho conforme necessário */
  margin-left: 10px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.nav .login-btn {
  border: 2px solid #FFD700; /* Borda amarela */
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  transition: border-color 0.3s;
}

.nav .login-btn:hover {
  border-color: #FFA500; /* Altere a cor da borda ao passar o mouse, se desejar */
}
