.lottery-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.lottery-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lottery-card h3 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.lottery-card p {
  margin: 5px 0;
  color: #151515;
}

.lottery-card button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.lottery-card button:hover {
  background-color: #45a049;
}

.drawn-ticket {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff !important;
  background-color: #4CAF50;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  margin-top: 10px;
}
