.my-tickets-container {
  padding: 20px;
}

.tickets-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lottery-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lottery-info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.lottery-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.lottery-details {
  flex-grow: 1;
}

.lottery-details h3 {
  margin: 0 0 10px;
  font-size: 20px;
}

.lottery-details p {
  margin: 0;
}

.ticket-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.ticket-item {
  flex: 1;
  min-width: 150px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s;
}

.ticket-item.paid {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.ticket-item.pending {
  background-color: #d66d6d;
  border-color: #d65a5a;
}
